.table-responsive thead th {
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

th.sortable {
    cursor: pointer;
    user-select: none;
    position: relative;
}

th.sortable.asc::after {
    content: " ▲";
    font-size: 0.8rem;
    margin-left: 0.2rem;
}

th.sortable.desc::after {
    content: " ▼";
    font-size: 0.8rem;
    margin-left: 0.2rem;
}

.table-responsive thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}
