/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

button {
    font-weight: 600;
}

.container {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container.shifted {
    margin-left: 75px;
}

/* Additional responsive adjustments */
@media (max-width: 1024px) {
    .container {
        margin-left: 240px;
    }

    .container.shifted {
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 220px;
    }

    .container.shifted {
        margin-left: 60px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 180px;
    }

    .container.shifted {
        margin-left: 50px;
    }
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #34495e;
}


.header .report-title {
    font-size: 2.5em;
    color: #2c3e50;
    margin: 0;
    padding-bottom: 0.2em;
    flex: 1;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #7f8c8d;
    font-size: 1em;
    white-space: nowrap;
    gap: 1em;
}

.header-info p {
    margin: 0;
    line-height: 1.2;
}

/* Back Button */
.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    color: #0056b3;
}

.back-button.alt {
    color: #0056b3;
}

.back-button.alt:hover {
    color:#007BFF
}

.report-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Styling for headings */
.report-title,
.report-heading {
    color: #2c3e50;
    margin-bottom: 0.5em;
    font-weight: 600;
    line-height: 1.2;
}

.report-title {
    font-size: 2.5em;
    padding-bottom: 0.2em;
}

.report-heading {
    font-size: 2em;
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #34495e;
}

/* Statistics Container */
.statistics-container {
    padding: 10px 0;
}

.statistics-container h3 {
    font-size: 1.2em;
    margin-top: 20px;
    color: #007BFF;
}

.statistics-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.statistics-table th,
.statistics-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.statistics-table th {
    background-color: #f2f2f2;
    text-align: left;
    width: 50%;
}

.statistics-table td {
    width: 50%;
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header .report-title {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .header-info {
        align-items: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header .report-title {
        font-size: 1.8em;
    }

    .header-info {
        font-size: 0.9em;
    }
}


/* Styling for paragraphs */
.report-intro {
    margin-bottom: 1em;
    line-height: 1.8;
    text-align: justify;
    color: #333;
    animation: fadeInUp 0.5s ease-in-out;
}

/* Styling for lists */
.report-list {
    line-height: 1.8;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    color: #333;
    animation: fadeInUp 0.5s ease-in-out;
}

.report-list li {
    margin-bottom: 0.5em;
}

/* Styling for tables */
.table-container {
    flex: 1;
    overflow: auto;
    width: 100%;
}

/* Keyframes for animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Class for links with border and hover effect */
.link-style {
    color: inherit;
    text-decoration: none;
    position: relative;
}

/* Bar element is always visible with a non-filled look */
.link-style::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: rgba(52, 152, 219, 0.2);
    left: 0;
    bottom: -5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(1);
    transform-origin: left;
}

.link-style:hover::after {
    background-color: rgba(52, 152, 219, 1);
}

.report-table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.report-table th,
.report-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
    width: calc(100% / 12);
}

.report-table th {
    background-color: #007BFF;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.report-table th:hover {
    background-color: #005287;
}


.report-table th,
.report-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.report-table td {
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
}

.report-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Rounded corners for table */
.report-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.report-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.report-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.report-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Button styling */
.report-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    animation: fadeInUp 0.5s ease-in-out;
    transition: background-color 0.3s ease;
    width: 100%;
}

.report-button:hover {
    background-color: #2980b9;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
    width: 100%;
}

/* Apply button styling */
.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex: 1;
    background-color: #1abc9c;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.action-btn:hover {
    background-color: #16a085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.warning {
    background-color: #FF4C4C;
}

.warning:hover {
    background-color: #CC3B3B;
}

/* Base style for the search bar */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.search-bar {
    padding: 12px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar:hover {
    border-color: #007acc;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 122, 204, 0.2);
}

.search-bar:focus {
    border-color: #005fa3;
    background-color: #f0f8ff;
    box-shadow: 0 6px 12px rgba(0, 122, 204, 0.3);
}

.search-bar:active {
    border-color: #004080;
    background-color: #e6f3ff;
    box-shadow: 0 4px 10px rgba(0, 95, 163, 0.25);
    transform: translateY(-1px);
}

.shortcut-indicator {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: #007acc;
    border-radius: 4px;
    padding: 2px 12px;
    font-size: 0.8em;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.shortcut-key {
    font-weight: bold;
    font-family: "Source Code Pro", monospace;
}

@media (max-width: 600px) {
    .shortcut-indicator {
        display: none;
    }
}


.sequence-cell {
    font-family: 'Courier New', Courier, monospace;
    color: #e74c3c;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sequence-cell:hover {
    cursor: pointer;
}