<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/"><img src="/static/png/logo-light.png" alt="BPRC" width="75" height="30" class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="vr" style="background-color: white;"></div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li><a class="nav-link {% if request.path == '/get_report' %}active{% endif %} dropdown-item" href="/get_report">Report</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Annotation</a>
                    <div class="dropdown-menu">
                        <a class="nav-link {% if request.path == '/get_sample_table' %}active{% endif %} dropdown-item" href="/get_sample_table">Sampels</a>
                        <a class="nav-link {% if request.path == '/sequence_list' %}active{% endif %} dropdown-item" href="/sequence_list">Identified segments</a>
                        <a class="nav-link {% if request.path == '/unique_sequences' %}active{% endif %} dropdown-item" href="/unique_sequences">Unique segments</a>
                        <a class="nav-link {% if request.path == '/get_rss' %}active{% endif %} dropdown-item" href="/get_rss">Recombination signal sequences</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
                    <div class="dropdown-menu">
                        <a class="nav-link {% if request.path == '/run_mafft' %}active{% endif %} dropdown-item" href="/run_mafft">Haplotype alignment</a>
                        <a class="nav-link {% if request.path == '/get_haplotype_alignment' %}active{% endif %} dropdown-item" href="/get_haplotype_alignment">Haplotype viewer</a>
                        <a class="nav-link {% if request.path == '/get_compare' %}active{% endif %} dropdown-item" href="/get_compare">Compare</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Library</a>
                    <div class="dropdown-menu">
                        <a class="nav-link {% if request.path == '/get_library' %}active{% endif %} dropdown-item" href="/get_library">Sequence library</a>
                        <a class="nav-link {% if request.path == '/add_novel' %}active{% endif %} dropdown-item" href="/add_novel">Add novel</a>
                    </div>
                </li>
            </div>
            <div class="navbar-nav ms-auto">
                <li><a class="nav-link {% if request.path == '/get_about' %}active{% endif %}"
                       href="/get_about">About</a></li>
            </div>
        </div>
    </div>
</nav>

