pandas==2.2.3
numpy
PyYAML
tqdm
flask
openpyxl
seaborn
requests
beautifulsoup4
lxml
biopython
psutil
venny4py
celery
flask_caching
scikit-learn
plotly
bokeh
matplotlib-venn
dna_features_viewer
jsonify
