 <div class="modal fade" id="columnModal" tabindex="-1" aria-labelledby="columnModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="columnModalLabel">Select columns to display</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="columnForm">
                                {% for column in data_table.columns %}
                                    <div class="form-check">
                                        <input class="form-check-input column-checkbox"
                                               type="checkbox"
                                               value="{{ column }}"
                                               id="col_{{ column }}"
                                               {% if column in [
                                              'Sample','Haplotype','Region','Segment',
                                              'Start coord','End coord','Reference',
                                              'short name','Status'
                                           ] %}checked{% endif %}
                                        >
                                        <label class="form-check-label" for="col_{{ column }}">
                                            {{ column }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mb-2" id="toggleSelectAll">Select All
                            </button>
                            <button type="button" class="btn btn-primary" id="applyColumns">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
