{% extends 'sharedTemplates/base.html' %}
{% block title %}Annotation data{% endblock %}
{% block body %}
    <div class="container">

        <div class="collapse" id="collapse_info">
         <div id="infoBox" class="card mt-3 shadow">
              <button
              type="button"
              class="btn p-0 position-absolute"
              style="top: 0.5rem; right: 0.5rem; color: #6c757d; font-size: 1.25rem; line-height: 1;"
              data-toggle="collapse"
              data-target="#collapse_info"
              aria-label="Close"
            >
              &times;
            </button>
            <div class="card-body">
              <h5 class="card-title">Information</h5>
              <p class="card-text">dit is info</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mt-0">   {{ selected_sample }}</h2>
            <a class="btn gap-2" data-toggle="collapse" href="#collapse_info" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </a>
        </div>


        <h2 class="mt-5">Extracted regions</h2>
        <div class="card card-body mb-4 shadow">
            {% if not region_data.empty %}
                {% include 'sharedTables/region_table.html' %}
            {% else %}
                <p class="text-muted">No region data available for this sample.</p>
            {% endif %}
        </div>
        <hr>
        {% if regions %}
            <form action="/get_sample_table" method="POST" id="form">

                <div class="row g-3 mb-4">
                    <div class="col">
                        <label for="region" class="form-label">Select region:</label>
                        <select name="region" id="region" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select region --</option>
                            {% for region in regions %}
                                <option value="{{ region }}" {% if region== selected_region %}selected{% endif %}>
                                    {{ region }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <input type="hidden" id="selected_sample" name="selected_sample" value="{{ selected_sample }}">
            </form>
        {% endif %}


        {% if segments_plot or known_novel_plot or function_plot or rss_plot or function_messenger_plot or function_messenger_plot2 %}
            <h2 class="mt-5">Plots</h2>
            <div class="card card-body mb-4 shadow">
                <div class="row mb-4">
                    {% if segments_plot %}
                        <div class="col-md-4">
                            {{ segments_plot|safe }}
                        </div>
                    {% endif %}
                    {% if known_novel_plot %}
                        <div class="col-md-4">
                            {{ known_novel_plot|safe }}
                        </div>
                    {% endif %}
                    {% if function_plot %}
                        <div class="col-md-4">
                            {{ function_plot|safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    {% if function_messenger_plot %}
                        <div class="col-md-6">
                            {{ function_messenger_plot|safe }}
                        </div>
                    {% endif %}
                    {% if function_messenger_plot2 %}
                        <div class="col-md-6">
                            {{ function_messenger_plot2|safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}


        {% if region_viewer %}
            <h2 class="mt-5">Region viewer</h2>
            <div class="card card-body mb-4 shadow">
                <div class="row mb-4">
                    {{ region_viewer|safe }}
                </div>
            </div>
        {% endif %}


        <h3 class="mt-2">Annotation data</h3>
        <div class="card card-body mb-4 shadow">
            <div class="row d-flex align-items-center g-3">
                <div class="col">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search in annotation data...">
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#columnModal">Toggle
                        columns
                    </button>

                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Download
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="downloadXLSX()">Excel</a></li>
                        <li><a class="dropdown-item" onclick="downloadBED()">BED</a></li>
                        <li><a class="dropdown-item" onclick="downloadGTF()">GTF</a></li>
                        <li><a class="dropdown-item" onclick="downloadFASTA()">Fasta</a></li>
                      </ul>
                    </div>

                    <button class="btn btn-warning" type="button" id="amountTable"></button>
                </div>
            </div>
            {% include 'sharedTables/annotation_table.html' %}
        </div>
    </div>
    {% include 'sharedTemplates/column_modal.html' %}
    <script>
        function downloadXLSX() {
            let sampleId = "{{ selected_sample }}";
            let region = "{{ selected_region }}"
            let url = "/download_xlsx";
            if (sampleId && region) {
                url += "?reference_id=" + encodeURIComponent(sampleId) + "&region=" + encodeURIComponent(region);
            }
            window.location.href = url;
        }

        function downloadBED() {
            let sampleId = "{{ selected_sample }}";
            let region = "{{ selected_region }}"
            let url = "/download_bed";
            if (sampleId && region) {
                url += "?reference_id=" + encodeURIComponent(sampleId) + "&region=" + encodeURIComponent(region);
            }
            window.location.href = url;
        }

        function downloadFASTA() {
            let sampleId = "{{ selected_sample }}";
            let region = "{{ selected_region }}"
            let url = "/download_fasta";
            if (sampleId && region) {
                url += "?reference_id=" + encodeURIComponent(sampleId) + "&region=" + encodeURIComponent(region);
            }
            window.location.href = url;
        }

        function downloadGTF() {
            let sampleId = "{{ selected_sample }}";
            let region = "{{ selected_region }}"
            let url = "/download_gtf";
            if (sampleId && region) {
                url += "?reference_id=" + encodeURIComponent(sampleId) + "&region=" + encodeURIComponent(region);
            }
            window.location.href = url;
        }
    </script>

</script>
{% endblock %}