{% extends 'sharedTemplates/base.html' %}
{% block title %}Nieuwe reparatie{% endblock %}
{% block body %}
<div class="position-absolute top-50 start-50 translate-middle">
VDJ insights offers a robust framework for assembling and annotating the TCR and BCR regions using long sequence reads from Pacific Biosciences (PacBio) and Oxford Nanopore Technologies (ONT). We designed this tool to uncover both novel and known VDJ segments within T-cell receptors (TCR) or B-cell receptors (BCR). This tool supports analysis across various species, given the availability of a reference genome on the NCBI.
</div>
{% endblock %}