{% extends 'sharedTemplates/base.html' %}
{% block title %}Segment library{% endblock %}
{% block body %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="collapse" id="collapse_info">
         <div id="infoBox" class="card mt-3 shadow">
              <button
              type="button"
              class="btn p-0 position-absolute"
              style="top: 0.5rem; right: 0.5rem; color: #6c757d; font-size: 1.25rem; line-height: 1;"
              data-toggle="collapse"
              data-target="#collapse_info"
              aria-label="Close"
            >
              &times;
            </button>
       <div class="card-body">
  <h5 class="card-title">Information</h5>
  <p class="card-text">
    This panel shows the contents of the immunoglobulin segment library used for annotation.
    The top chart displays the number of sequences available per region. The length distribution plot below it shows the variation in sequence lengths within each region.
    The table contains all sequences in the current library:
    <ul>
      <li><strong>Sequence ID</strong>: Unique identifier of the segment</li>
      <li><strong>Sequence</strong>: Nucleotide sequence of the segment</li>
    </ul>
  </p>
</div>

          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mt-0">Segment library</h2>
            <a class="btn gap-2" data-toggle="collapse" href="#collapse_info" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </a>
        </div>


        <div class="card card-body mb-4 shadow">
            {% if library_plot %}
                {{ library_plot | safe }}
            {% endif %}

            {% if library_violin %}
                {{ library_violin | safe }}
            {% endif %}
            <a class="btn btn-primary gap-2" data-toggle="collapse" href="#showSequenceTable" role="button">Show
                library data</a>
        </div>
        <div class="collapse" id="showSequenceTable">

            <div class="card card-body">

                <form action="/get_library" method="POST" id="form">

                    <div class="d-flex gap-2 mb-4">
                        <button class="btn btn-success flex-grow-1" type="submit" id="toggleButton">Select</button>
                        <button class="btn btn-danger flex-grow-1" type="submit" id="removeSelected" name="action" value="remove">Remove from library</button>
                        <button class="btn btn-primary w-10" type="submit" id="download_selected_count" name="action" value="download">Download (0)</button>
                    </div>

                <div>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search in library...">
                </div>

                {% if sequences %}
                    <div class="table-responsive" style="height: 1000px;">
                        <table class="table table-hover mt-3" id="sequenceTable">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Sequence ID</th>
                                <th>Sequence</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for seq in sequences %}
                                <tr class="sequence-row" data-id="{{ seq.id }}" data-sequence="{{ seq.sequence }}">
                                    <td>
                                        <input type="checkbox" name="selected_sequences" value="{{ seq.id }}">
                                    </td>
                                    <td>{{ seq.id }}</td>
                                    <td>
                                <span class="d-inline-block text-truncate"
                                      style="max-width: 750px;">{{ seq.sequence }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                                </form>

            </div>
        </div>
    </div>


    <div class="modal fade" id="sequenceModal" tabindex="-1" aria-labelledby="sequenceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sequenceModalLabel">Sequence Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Sequence ID:</strong></p>
                    <pre id="modalSequenceId"></pre>

                    <p><strong>Sequence:</strong></p>
                    <pre id="modalSequence" style="white-space: pre-wrap;"></pre>

                    <p><strong>Sequence length:</strong></p>
                    <pre id="modalSequenceLength" style="white-space: pre-wrap;"></pre>
                </div>
            </div>
        </div>
    </div>

    <script>
        const downloadButton = document.getElementById("download_selected_count");
        const toggleButton = document.getElementById("toggleButton");
        const searchInput = document.getElementById("searchInput");
        const tableRows = document.querySelectorAll("#sequenceTable tbody tr");

        // Functie om de Download-knoptekst bij te werken
        function updateDownloadButtonText() {
            const selectedCount = document.querySelectorAll('#sequenceTable tbody input[type="checkbox"]:checked').length;
            downloadButton.textContent = `Download (${selectedCount})`;
        }

        // Eventlistener voor de Select all-knop
        toggleButton.addEventListener("click", function () {
            const rows = document.querySelectorAll("#sequenceTable tbody tr");
            const visibleRows = Array.from(rows).filter(row => row.style.display !== "none");

            const allChecked = visibleRows.every(row => {
                const checkbox = row.querySelector('input[type="checkbox"]');
                return checkbox.checked;
            });

            visibleRows.forEach(row => {
                const checkbox = row.querySelector('input[type="checkbox"]');
                checkbox.checked = !allChecked;
            });

            toggleButton.textContent = allChecked ? "Select" : "Deselect";
            updateDownloadButtonText();
        });

        // Eventlistener voor handmatige checkbox-selectie
        document.querySelectorAll('#sequenceTable tbody input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener("change", updateDownloadButtonText);
        });

        // Eventlistener voor de zoekbalk
        searchInput.addEventListener("keyup", function () {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll("#sequenceTable tbody tr");

            rows.forEach(row => {
                const sequenceId = row.cells[1].textContent.toLowerCase();
                const sequence = row.cells[2].textContent.toLowerCase();
                if (sequenceId.includes(filter) || sequence.includes(filter)) {
                    row.style.display = ""; // Toon rij
                } else {
                    row.style.display = "none"; // Verberg rij
                }
            });

            toggleButton.textContent = "Select";
            updateDownloadButtonText();
        });


        document.querySelectorAll("#sequenceTable tbody tr").forEach(row => {
            row.addEventListener("click", function (event) {
                if (event.target.tagName === "SPAN" && event.target.parentNode.cellIndex === 2) {
                    const sequenceId = this.getAttribute("data1-id");
                    const sequence = this.getAttribute("data1-sequence");
                    const sequenceLength = sequence.length;

                    const formattedSequence = sequence.match(/.{1,50}/g).join("\n");
                    document.getElementById("modalSequenceId").textContent = sequenceId;
                    document.getElementById("modalSequence").textContent = formattedSequence;
                    document.getElementById("modalSequenceLength").textContent = sequenceLength;

                    const modal = new bootstrap.Modal(document.getElementById("sequenceModal"));
                    modal.show();
                }
            });
        });

    </script>

{% endblock %}