{% extends 'sharedTemplates/base.html' %}
{% block title %}Report{% endblock %}
{% block body %}
    <div class=" p-4">
        <div class="container">
        <div class="collapse" id="collapse_info">
         <div id="infoBox" class="card mt-3 shadow">
              <button
              type="button"
              class="btn p-0 position-absolute"
              style="top: 0.5rem; right: 0.5rem; color: #6c757d; font-size: 1.25rem; line-height: 1;"
              data-toggle="collapse"
              data-target="#collapse_info"
              aria-label="Close"
            >
              &times;
            </button>
            <div class="card-body">
              <h5 class="card-title">Information</h5>
              <p class="card-text">
                  <p>
                    The bar chart shows the frequency of each V, D, and J gene segments in the samples.
                    For every combination, two bars are displayed side by side: one for <strong>Known</strong> gene segments and one for <strong>Novel</strong> gene segments.
                    The height of each bar corresponds to the number of sequences with that specificV, D, and J gene segments.
                    Use the legend to toggle the immunologic regions on and off for easy comparison.
                  </p>
                </p>

            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mt-0">Overall report</h2>
            <a class="btn gap-2" data-toggle="collapse" href="#collapse_info" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </a>
        </div>

            <h2 class="">Known segments</h2>
            <div class="card card-body mb-4 shadow">
                {{ vdj_plot_known|safe }}
            </div>
            <h2>Novel segments</h2>
            <div class="card card-body mb-4 shadow">
                {{ vdj_plot_novel|safe }}
            </div>
        </div>
    </div>


{% endblock %}