{% extends 'sharedTemplates/base.html' %}
{% block title %}RSS{% endblock %}
{% block body %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="container">
        <form action="/get_rss" method="POST" id="form">
            <h2 class="mt-5">RSS MEME sequence motifs</h2>

            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="region" class="form-label">Select region:</label>
                    <select name="region" id="region" class="form-select" onchange="this.form.submit()">
                        <option value="">-- Select region --</option>
                        {% for region in regions %}
                            <option value="{{ region }}" {% if region == selected_region %}selected{% endif %}>
                                {{ region }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="segment" class="form-label">Select segment:</label>
                    <select name="segment" id="segment" class="form-select" onchange="this.form.submit()">
                        <option value="">-- Select segment --</option>
                        {% for segment in segments %}
                            <option value="{{ segment }}" {% if segment == selected_segment %}selected{% endif %}>
                                {{ segment }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <div class="card card-body g-3 mb-4">
            {% if rss_plot %}
                {{ rss_plot | safe }}
            {% else %}
                <p class="text-muted">No data found.</p>
            {% endif %}
        </div>
        {% if rss_data %}
            {% for name, data in rss_data.items() %}
                <div class="card card-body g-3 mb-4">
                    <h3>{{ name }}</h3>
                    <img src="data:image/png;base64,{{ data.meme_logo }}" alt="Meme Logo">
                    <a class="btn btn-primary gap-2" data-toggle="collapse" href="#collapse{{ loop.index }}"
                       role="button">
                        Show fimo output
                    </a>
                </div>
                <div class="collapse" id="collapse{{ loop.index }}">
                    <div class="card card-body">
                        <div class="row d-flex align-items-center g-3">

                            <div class="col">
                                <input type="text" id="searchInput{{ loop.index }}" class="form-control"
                                       placeholder="Search in fimo output..."></div>
                            <div class="col-auto">
                                <button class="btn btn-warning" type="button" id="amountTable{{ loop.index }}"></button>
                            </div>
                        </div>

                        {% if data.fimo_data %}
                            <div class="table-responsive" style="height: 1000px;">
                                <table class="table table-hover mt-3" id="DataTable{{ loop.index }}">
                                    <thead>
                                    <tr>
                                        {% for header in data.fimo_data[0].keys() %}
                                            <th>{{ header }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in data.fimo_data %}
                                        <tr>
                                            {% for value in row.values() %}
                                                <td>
                                                <span class="d-inline-block text-truncate"
                                                      style="max-width: 750px;">{{ value }}</span>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>No FIMO data available.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No MEME data available.</p>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInputs = document.querySelectorAll('input[id^="searchInput"]');

            searchInputs.forEach(searchInput => {
                const tableId = searchInput.id.replace('searchInput', 'DataTable');
                const amountButtonId = searchInput.id.replace('searchInput', 'amountTable');
                const table = document.getElementById(tableId);
                const amountButton = document.getElementById(amountButtonId);

                if (table && amountButton) {
                    const tableRows = table.querySelectorAll('tbody tr');

                    const updateVisibleCount = () => {
                        let visibleCount = 0;

                        tableRows.forEach(row => {
                            if (row.style.display !== 'none') {
                                visibleCount++;
                            }
                        });

                        amountButton.textContent = `Entries: ${visibleCount}`;
                    };

                    updateVisibleCount();

                    searchInput.addEventListener('keyup', function (event) {
                        const searchTerm = event.target.value.toLowerCase();

                        tableRows.forEach(row => {
                            const rowText = row.textContent.toLowerCase();
                            if (rowText.includes(searchTerm)) {
                                row.style.display = '';
                            } else {
                                row.style.display = 'none';
                            }
                        });

                        updateVisibleCount();
                    });
                } else {
                    console.warn(`Table or button not found for search input "${searchInput.id}"`);
                }
            });
        });
    </script>
{% endblock %}
