{% extends 'sharedTemplates/base.html' %}
{% block title %}Samples{% endblock %}
{% block body %}
    <div class="container">

        <h2 class="mt-5">Samples</h2>

        {% if regions %}
            <form action="/get_sample_table" method="POST" id="form">
                <div class="row g-3 mb-4">
                    <div class="col">
                        <label for="region" class="form-label">Select regio:</label>
                        <select name="region" id="region" class="form-select" onchange="this.form.submit()">
                            <option value="">-- Select region --</option>
                            {% for region in regions %}
                                <option value="{{ region }}" {% if region== selected_region %}selected{% endif %}>
                                    {{ region }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        {% endif %}

        <div class="card card-body mb-4">
            <div class="row d-flex align-items-center g-3">
                <div class="col">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search in reference data...">
                </div>
                <div class="col-auto">
                    <button class="btn btn-warning" type="button" id="amountTable"></button>
                </div>
            </div>
            <div class="table-responsive" style="height: 1000px;">

                <table class="table table-hover" id="DataTable">

                    <thead>
                    <tr>
                        <th class="column-header sortable" data-column=Reference">Sample</th>
                        <th class="column-header sortable" data-column=Known">Known</th>
                        <th class="column-header sortable" data-column=Novel">Novel</th>
                        <th class="column-header sortable" data-column=Total">Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in pivot_data %}
                        <tr>
                            <td><a href="https://www.ebi.ac.uk/ena/browser/view/{{row['Sample'] }}" target="_blank">{{ row['Sample'] }}</a></td>
                            <td>{{ row["Known"] }}</td>
                            <td>{{ row["Novel"] }}</td>
                            <td>{{ row["Total"] }}</td>

                            <td>
                                <form method="POST" action="/get_sample_table">
                                    <input type="hidden" name="selected_sample" value="{{ row['Sample'] }}">
                                    <input type="hidden" name="selected_region" value="{{ selected_region }}">
                                    <button type="submit" class="btn btn-primary">&#8594;</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}