{% extends 'sharedTemplates/base.html' %}
{% block title %}Unique segments{% endblock %}
{% block body %}

    <div class="container">

        <div class="collapse" id="collapse_info">
         <div id="infoBox" class="card mt-3 shadow">
              <button
              type="button"
              class="btn p-0 position-absolute"
              style="top: 0.5rem; right: 0.5rem; color: #6c757d; font-size: 1.25rem; line-height: 1;"
              data-toggle="collapse"
              data-target="#collapse_info"
              aria-label="Close"
            >
              &times;
            </button>
            <div class="card-body">
              <h5 class="card-title">Information</h5>
              <p class="card-text">dit is info</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mt-0">Segments unique to samples</h2>
            <a class="btn gap-2" data-toggle="collapse" href="#collapse_info" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </a>
        </div>

          <!-- <div class="card card-body mb-4">
           {{ plot  | safe }}
        </div> -->

        <div class="card card-body mb-4 shadow">
            <div class="row d-flex align-items-center g-3">
                <div class="col">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search in annotation data...">
                </div>
                <div class="col-auto">
                    <button class="btn btn-warning" type="button" id="amountTable"></button>
                </div>
            </div>
            <div class="table-responsive" style="height: 1000px;">
                <table class="table table-hover mt-3" id="DataTable">
                    <thead class="table-light">
                    <tr>
                        {% for column in data_table.columns %}
                            <th class="column-header sortable"
                                data-column="{{ column }}">
                                {{ column }}
                            </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, row in data_table.iterrows() %}
                        <tr>
                            {% for column in data_table.columns %}
                                <td class="column-data" data-column="{{ column }}"> {{ row[column] }} </td>
                            {% endfor %}
                            <td>
                                <form method="POST" action="/unique_sequences">
                                    <input type="hidden" name="reference_id" value="{{ row['Sample'] }}">
                                    <button type="submit" class="btn btn-primary">&#8594;</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}