{% extends 'sharedTemplates/base.html' %}
{% block title %}Nieuwe reparatie{% endblock %}
{% block body %}
{{ heatmap|safe }}
    <div class=" p-4">
        <h2 class="">Samples</h2>
        <div class="card card-body mb-4">
            {{ vdj_plot_known|safe }}
        </div>
        <h2>Samples</h2>
        <div class="card card-body mb-4">
            {{ vdj_plot_novel|safe }}
        </div>
         <h2>Samples</h2>
        <div class="card card-body mb-4">
            {{ vdj_plot|safe }}
        </div>

    </div>


{% endblock %}